.App {
  text-align: center;
}
.product {
  display: flex;
  flex-wrap: wrap;
}

.product > .link {
  align-items: center;
  cursor: pointer;
  text-align: center;
  margin: 20px 25px 20px 25px;
  width: 300px;
  box-shadow: 0 0 4px rgb(20, 20, 20);
}

.product > .link:hover {
  background-color: #30333a;
  color: white;
}